.navbar-expand {
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-bottom: 2px;
    padding-top: 2px;
    font-weight: 500;
    font-size: 1.0rem;
}
.dropdown-menu.show{
    border-radius: 0.5px;
    font-weight: 400;
    font-size: 1.0rem;
}
#basic-nav-dropdown{
  padding-right: 3.0rem;
  font-weight: 500;
  
}

