.navbar-expand {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 2px;
    padding-top: 2px;
    font-weight: 500;
    font-size: 1.0rem;
}
.dropdown-menu.show{
    border-radius: 0.5px;
    font-weight: 400;
    font-size: 1.0rem;
}
#basic-nav-dropdown{
  padding-right: 3.0rem;
  font-weight: 500;
}
#searchBox{
  border-radius: 0.25;
  border: none;
  font-weight: 600;
  margin-left: 2px;
  width: 300px;
  height: 40px;
}

