.MuiPaper-root {
    margin-left: 2px;
}
.css-1rmly2y-MuiToolbar-root {
  border-radius: 2px;
  margin-right:2px;
  padding: 20px;
  background-color:#262e2e;
}
.css-1y942vo-MuiButtonBase-root-MuiButton-root{
  color:rgb(30, 29, 29) !important;
}
